/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jul 15, 2014, 11:27:52 PM
    Author     : Van Huy <vanphu.quanghuy at gmail.com>
*/
thead{
	border-top: 2px solid #dddddd;
}

table.display td {
	//max-width: 130px;
	text-align: center;
	//overflow: hidden;
	//white-space: nowrap;
	//text-overflow: ellipsis;
	word-break: break-all;
}


#tweets-table td:nth-child(9) {
	text-align: left;
	min-width: 80px;
}
#tweets-table td:nth-child(8) {
	word-break: normal;
}
#tweets-table td:nth-child(10) {
	word-break: normal;
}

table.mytable td{
	min-width: 100px;
}

.highlight {
	color:red;
}

#tweets-table select {
	width: 90px;
}

//#tweets-table input {
//	max-width: 150px;
//}

#tweets-table input[type=checkbox] {
	/* Double-sized Checkboxes */
	-ms-transform: scale(1.5); /* IE */
	-moz-transform: scale(1.5); /* FF */
	-webkit-transform: scale(1.5); /* Safari and Chrome */
	-o-transform: scale(1.5); /* Opera */
}

.app-thump {
	max-width: 200px;
}

.unset {
	color:red;
}

.already_set {
	color:green;
}

.published {
	color:blue;
}